@model (Employee, Employee)

<ul>
    <li>@Model.Item1.Id</li>
    <li>@Model.Item1.Name</li>
    <li>@Model.Item1.DateHired</li>
    <li>@Model.Item1.SupervisorId</li>
</ul>

<ul>
    <li>@Model.Item2.Id</li>
    <li>@Model.Item2.Name</li>
    <li>@Model.Item2.DateHired</li>
    <li>@Model.Item2.SupervisorId</li>
</ul>
